################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SqlInjection
/packages
/WebFormsClient/bin
/WebFormsClient/obj/Debug
